<template>
  <el-header height="4rem">
    <el-menu default-active="2" mode="horizontal">
      <el-menu-item index="1">Disponíveis</el-menu-item>
      <el-menu-item index="2">Gestão</el-menu-item>
    </el-menu>
    <el-button type="primary"> Criar Formulários</el-button>
  </el-header>
</template>
<style scoped>
.el-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;

  z-index: 10;
  padding: 0;
  padding-left: 5rem;
  padding-right: 1.5rem;
  width: 100%;
  border-bottom: solid 1px #e6e6e6;
}

.el-menu-item {
  height: 4rem;
  line-height: 4rem;
}

.el-button {
  height: 2.5rem;
}
</style>