<template>
  <el-container>
    <forms-page-header />

    <el-main>
      <search-bar
        @onSearch="setSearchTerm"
        @onStatusChange="setSelectedFormStatus"
      />

      <el-container>
        <el-row
          :gutter="24"
          v-if="selectedFormStatus === 'published' && forms.length"
        >
          <template v-for="form in forms" :key="form.id">
            <published-form-card :form="form"></published-form-card>
          </template>
        </el-row>

        <el-row
          :gutter="24"
          v-else-if="selectedFormStatus === 'draft' && forms.length"
        >
          <template v-for="form in forms" :key="form.id">
            <draft-form-card :form="form"></draft-form-card>
          </template>
        </el-row>

        <forms-not-found v-if="!forms.length" :status="selectedFormStatus" />
      </el-container>

      <el-row class="pagination">
        <el-pagination
          background
          :hide-on-single-page="true"
          layout="prev, pager, next"
          :total="totalOfForms"
          :page-count="10"
          @current-change="handlePageChange"
        >
        </el-pagination>
      </el-row>
    </el-main>
  </el-container>
</template>

<script lang="ts">
import { ref, watchEffect } from "vue";
import PublishedFormCard from "@/components/PublishedFormCard.vue";
import DraftFormCard from "@/components/DraftFormCard.vue";
import { api } from "@/services/api";
import FormsPageHeader from "./FormsPageHeader.vue";
import SearchBar from "./SearchBar.vue";
import { Form } from "@/types";
import { formatDate } from "@/utils/formatDate";
import FormsNotFound from "@/components/FormsNotFound.vue";

interface FetchParams {
  page: number;
  limit: number;
  status: "published" | "draft";
}

export default {
  components: {
    PublishedFormCard,
    DraftFormCard,
    FormsNotFound,
    FormsPageHeader,
    SearchBar,
  },

  setup() {
    const forms = ref<Form[]>([]);
    const selectedFormStatus = ref<"published" | "draft">("published");
    const page = ref(1);
    const searchTerm = ref(""); // search functionality not being used
    const totalOfForms = ref(0);

    watchEffect(async () => {
      const params: FetchParams = {
        page: page.value,
        limit: 10,
        status: selectedFormStatus.value,
      };

      const response = await api.get<Form[]>("/", {
        params,
      });

      totalOfForms.value = Number(response.headers["x-total-count"]);

      forms.value = response.data.map((form) => ({
        ...form,
        ts_publication_start: formatDate(form.ts_publication_start),
        ts_publication_end: formatDate(form.ts_publication_end),
        ts_created_at: formatDate(form.ts_created_at),
        ts_published_at: formatDate(form.ts_published_at),
      }));
    });

    function handlePageChange(newPage: number) {
      page.value = newPage;
      window.scrollTo(0, 0);
    }

    function setSearchTerm(value: string) {
      searchTerm.value = value;
    }

    function setSelectedFormStatus(value: "published" | "draft") {
      selectedFormStatus.value = value;
    }

    return {
      forms,
      selectedFormStatus,
      setSelectedFormStatus,
      searchTerm,
      page,
      setSearchTerm,
      totalOfForms,
      handlePageChange,
    };
  },
};
</script>
<style scoped>
.el-main {
  margin-top: 4rem;
  margin-left: 3.5rem;
  padding: 3.5rem;
}

.el-main > .el-container {
  margin-top: 2.5rem;
}

.pagination {
  justify-content: center;
  margin-top: 2rem;
}
</style>