<template>
  <el-row>
    <el-col :md="10">
      <el-radio-group v-model="status">
        <el-radio-button label="published">Publicado</el-radio-button>
        <el-radio-button label="draft">Rascunho</el-radio-button>
      </el-radio-group>
    </el-col>
    <el-col :md="14">
      <form @submit.prevent="onSubmit">
        <el-input
          placeholder="Busque por título, descrição e marcadores"
          v-model="searchTerm"
          prefix-icon="el-icon-search"
        />
        <el-button @click="onSubmit" type="info" plain>Buscar</el-button>
      </form>
    </el-col>
  </el-row>
</template>
<script lang="ts">
import { ref } from "@vue/reactivity";
import { watchEffect } from "@vue/runtime-core";

export default {
  emits: {
    onSearch: (payload: string) => true,
    onStatusChange: (payload: string) => true,
  },

  setup(_: any, { emit }: { emit: any }) {
    const searchTerm = ref("");
    const status = ref("published");
    function onSubmit() {
      emit("onSearch", searchTerm.value);
    }

    watchEffect(() => {
      emit("onStatusChange", status.value);
    });

    return {
      searchTerm,
      onSubmit,
      status,
    };
  },
};
</script>
<style scoped>
.el-row {
  padding: 0 0.5rem;
  background-color: #ebeff5;
  border-radius: 0.5rem;
}

.el-row > * {
  padding: 0.5rem 0;
}

form {
  display: flex;
  margin-left: auto;
}

.el-input {
  margin-right: 0.315rem;
  width: 100%;
}
</style>