<template>
  <el-container>
    <div class="app-logo">
      <img src="@/assets/img/logo.svg" alt="Logo" />
    </div>

    <el-menu default-active="1" background-color="#24314a">
      <el-menu-item index="1">
        <i class="el-icon-s-order"></i>
      </el-menu-item>
      <el-menu-item index="2">
        <i class="el-icon-coin"></i>
      </el-menu-item>
    </el-menu>

    <el-button icon="el-icon-user-solid"></el-button>
    <img src="@/assets/img/by-granter.svg" alt="Powered by Granter" />
  </el-container>
</template>
<style scoped>
.el-container {
  background-color: #24314a;
  position: fixed;
  flex-direction: column;
  height: 100%;
  z-index: 999;
}

.app-logo {
  height: 4rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app-logo::after {
  content: "";
  width: 3rem;
  border-bottom: 1px solid #409eff;
  position: absolute;
  bottom: 0;
}

.app-logo img {
  width: 28px;
  height: 28px;
}

.el-menu {
  margin-top: 2rem;
  border: 0;
}

.el-menu-item {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.el-menu-item i {
  margin: 0;
}

.el-button {
  background: transparent;
  border: none;
  color: #dadada;
  height: 3.5rem;
  font-size: 1rem;
  opacity: 0.25;
  margin-top: auto;
}

.el-container > img {
  margin: 1rem 0.25rem;
}
</style>