<template>
  <el-col :xs="24" :md="12">
    <el-card>
      <template #header>
        <el-row class="header">
          ID: {{ form.id }}
          <el-button
            type="danger"
            icon="el-icon-delete-solid"
            circle
            plain
            size="mini"
          />
        </el-row>
      </template>
      <h1>
        {{ form.str_name }}
      </h1>
      <p>
        {{ form.str_description }}
      </p>
      <el-row>
        <span>
          Criado
          <strong style="margin-left: 0.25rem">{{ form.ts_created_at }}</strong>
        </span>
      </el-row>
      <div>
        <span>
          Marcadores
          <template v-for="tag in form.lst_tags" :key="tag">
            <el-tag>{{ tag }}</el-tag>
          </template>
        </span>
      </div>
      <el-row class="footer">
        <el-button icon="el-icon-share" circle></el-button>
        <el-button icon="el-icon-copy-document" circle></el-button>
        <el-button style="margin-left: auto">Publicar</el-button>
        <el-button type="primary">Detalhes</el-button>
      </el-row>
    </el-card>
  </el-col>
</template>
<script lang="ts">
import { PropType } from "vue";
import { Form } from "@/types";

export default {
  props: {
    form: {
      type: Object as PropType<Form>,
      required: true,
    },
  },
};
</script>
<style scoped>
.el-card {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
}

.header {
  align-items: center;
  line-height: 1.75rem;
}

.header > .el-button {
  margin-left: auto;
}

h1 {
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.25rem;
  overflow: hidden;
}

p {
  color: #798191;
  margin-bottom: 2rem;
  height: 3rem;
  overflow: hidden;
  line-height: 1.5rem;
}

.el-row > span {
  margin-right: 4rem;
  margin-bottom: 2rem;
  color: #798191;
}

.el-row > span > strong {
  color: #455066;
}

.el-row > span > strong > em {
  display: block;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 0.5rem;
}

.el-tag {
  margin-left: 0.5rem;
}

.footer > .el-button {
  margin-top: 2rem;
}
</style>