<template>
  <el-row>
    <el-col :md="12">
      <div>
        <strong>Ooops!</strong>
        <template v-if="status === 'published'">
          <h1>Nenhum formulário publicado.</h1>
          <p>Crie novos formulários ou publique formulário em rascunho</p>
        </template>
        <template v-if="status === 'draft'">
          <h1>Nenhum formulário em rascunho.</h1>
          <p>Crie novos formulários.</p>
        </template>
        <el-button type="primary">Criar novo formulário</el-button>
      </div>
    </el-col>

    <el-col :md="10">
      <img src="@/assets/img/not_found.svg" />
    </el-col>
  </el-row>
</template>
<script lang="ts">
export default {
  props: {
    status: {
      type: String,
      required: true,
    },
  },
};
</script>
<style scoped>
.el-row {
  flex: 1;
  justify-content: center;
  align-items: center;
}

strong {
  display: block;
  font-size: 5rem;
  margin-bottom: 3rem;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2.5rem;
}

img {
  margin-top: 1.5rem;
  max-width: 100%;
  display: block;
}
</style>