<template>
  <el-container>
    <app-header></app-header>
    <forms-page></forms-page>
  </el-container>
</template>

<script lang="ts">
import FormsPage from "@/pages/FormsPage/index.vue";
import AppHeader from "@/components/AppHeader.vue";
export default {
  components: {
    AppHeader,
    FormsPage,
  },
};
</script>
