* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 990px) {
  html {
    font-size: 93.75%;
  } 
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  margin: 0;
  padding: 0;
  color: #455066;
  overflow-y: scroll;
  background-color: #f7f9fc;
  font-family: Arial, Helvetica, sans-serif;
}